@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;1,400 & display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.barra{
    background-color:rgb(39, 52, 78);
}     
    .barra img{
        width: 100px;
    }
    .barra a{
        color: azure;
        font-size: 1.6em;
    }

    .barra a{
        background-image: linear-gradient(90deg,rgb(167, 167, 234),rgb(16, 16, 17));
        background-repeat: no-repeat;
        background-size: 0% 2px;
        background-position: left bottom;
        transition: background-size 700ms ease-in-out;
    }
    .barra a:hover{
        background-size: 100% 2px;
    }

body{
    background-image: url(../Img/Fondos/FondoW.jpg);
    background-repeat:repeat;
    background-attachment:fixed;
}


header{
    width: 100%;
}


h1{
    color: rgb(15, 12, 67);
    font-size: 2em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding: 20px 30px;
}

h2{
    font-size: 1.8em;
    color: rgb(19, 1, 46);
    text-transform:uppercase;
    padding: 20px 30px;
}

h3{
    font-size: 1.2em;
    color:  rgb(19, 1, 46);
    text-transform: uppercase;
    padding: 20px 30px;
}

h6{
    font-size: 1em;
    color: black;
    padding: 20px 30 px;
    margin: 10px;
}

p{
    color:rgb(63, 58, 133);
    font-style: italic;
    font-weight: 300px;
    line-height: 10px;
    font-size: 2em;
    /* no tiene que ser menor */
    line-height: 24px;
}
label{
    color: rgb(63, 58, 133);
    
}

img{
    width: 60%;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

footer{
    background-color: rgb(45, 44, 44);
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    height: auto;
}
    footer svg{
        width: 30%;
        height: 30px;
        fill: azure;
        margin-right: 20px;
    }

.redes{
    display: flex;
    justify-content: right;
    padding: 8px;
}

    
main section article table{
        text-decoration:underline;
        padding: 20px 30px;
        color: whitesmoke;
}


.box-top{
    padding: 2px 0;
    text-align: center;
    background-color: rgb(235, 11, 11);
}
    .box-top p{
        margin: 2px;
        font-size: 0.8em;
    }


.contenedorx3{
    background-color: rgb(155, 155, 159);
    color: black;
    margin: 20px 30px;
    padding: 20px 30px;
    border: none
}


.colecciones{
    padding: 10px 20px;
    margin: 20px 10px;

}

.productos-inicio{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap
}
    .productos-inicio figure{
        width: 50%;
        border: solid 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 20px;
        
    }
        .productos-inicio figure figcaption{
            color: rgb(1, 1, 39);
            font-size: 1em;
        }

        .productos-inicio figure button{
            border: none;
            padding: 6px 30px;
            background-color: rgb(148, 152, 158);
            border-radius: 3px;
            color: rgb(20, 18, 18);
            text-align: center;
            margin-bottom: 2px;
            width: 100%;
        }


.filtros{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: rgb(13, 1, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
    
    .filtros label:hover{
        color: blue;
    }


    
.productos{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;  
    padding: 10px 20px;
    margin: 20px;
    text-decoration-style: wavy;
    grid-template-areas:
    
    "producto1 producto2 producto3"
    "producto4 producto5 producto6"
    "producto7 producto8 producto9" ;
}
    .productos figure{
        border-style: groove;
    }
        .producto section figure img{
            width: 33%;
        }
    .productos figure button{
        border: none;
        padding: 6px 30px;
        background-color: rgb(148, 152, 158);
        border-radius: 3px;
        color: rgb(20, 18, 18);
        text-align: center;
        margin-bottom: 2px;
        width: 100%;
        font-style: italic;
    }
    .productos figure button:hover{
        color: blue;

    }

.producto1{
    padding: 5px 10px;
    margin: 5px
}
.producto2{
    padding: 5px 10px;
    margin: 5px
}
.producto3{
    padding: 5px 10px;
    margin: 10px
}
.producto4{
    padding: 5px 10px;
    margin: 5px
}
.producto5{
    padding: 5px 10px;
    margin: 5px
}
.producto6{
    padding: 5px 10px;
    margin: 5px
}
.producto7{
    padding: 5px 10px;
    margin: 5px
}
.producto8{
    padding: 5px 10px;
    margin: 5px
}
.producto9{
    padding: 5px 10px;
    margin: 5px
}


.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
    .boton button{
        color: whitesmoke;
        background-color: rgb(49, 49, 224);
        border-radius: 3px;
    }
    .boton button a:hover{
        color: aqua;
        text-decoration: underline;
    }

.mayorista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}
    .mayorista p{
        padding: 10px 20px;
    }
    .mayorista p::first-letter{
        font-weight: 800;
    }
    .mayorista img{
        border-style: double;
        width: 50%;
        height: auto;
    }

.mayorista2{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 30px;
}
    .mayorista2 p::first-letter{
        font-weight: 800;
    }
    .mayorista2 p{
        padding: 50px 20px;
    }
    .mayorista2 img{
        border-style: double;
        width: 50%;
        height: auto;
    }
.img-mayorista{
    width: 95%;
    height: 350px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px 20px;

}

.inframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 20px;
}

    .inframe p{
        margin-top: 20px;
        color: black;
        font-weight: 800;
    }

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px 30px;
    margin: auto;
    border-radius: 2px;
}
    .contacto article table tr th{
        color: rgb(4, 1, 41);
        text-decoration: underline;
        font-weight: 800;
    }
    .contacto article table tr td{
        color: rgb(63, 58, 133);
        text-decoration: underline;
    }

 .inframe-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 20px;
}
    .inframe-contacto .inframe{
        border-style: unset 10px;
    }  

/* aca empieza responsive */

@media (width < 768px){
    h1, h2, h3{
        text-align: center;
    }
    .colecciones{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
        .colecciones img{
            margin-bottom: 10px;
        }
    .productos-inicio{
        flex-direction: column;
        align-items: center;
    }
    .redes{
        justify-content: space-between;
        align-items: center;
    }
    /*termina la pagina de inicio */
    .productos{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;  
        padding: 10px 20px;
        margin: 20px;
        text-decoration-style: wavy;
        grid-template-areas:
        "producto1 producto1"
        "producto2 producto2"
        "producto3 producto3"
        "producto4 producto4"
        "producto5 producto5"
        "producto6 producto6"
        "producto7 producto7"
        "producto8 producto8"
        "producto9 producto9" ;
    } 
      /*termina la pagina de producto  */
}
