//commons//

*{
    font-family: $font1;
    box-sizing: border-box;
}

body{
    background-image: url(../Img/Fondos/FondoW.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}


header{
    width: 100%;
}


h1{
    color: $color-text;
    font-size: $fuente1;
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding: $padding;
    font-weight: 1000;
}

h2{
    font-size: $fuente2;
    color: $color-text;
    padding: $padding;
    font-weight: $weight;
}

h3{
    font-size: $fuente3;
    color: $color-text;
    text-transform: uppercase;
    padding: $padding;
    font-weight: $weight;
}

h6{
    font-size: fuente4;
    color: $color-black;
    padding: $padding;
    margin: 10px;
}

p{
    color:$color-blue;
    font-style: $font2;
    font-weight: 300px;
    line-height: 10px;
    font-size: $fuente5;
    line-height: 24px;
}
label{
    color: $color-blue;

}

img{
    width: 60%;
}

.text-center{
    text-align: $center;
}
.text-left{
    text-align: $left;
}

/* empieza la nav */
.barra{
    background-color: $bakcground;
    
    img{
        width: 100px;
    }
    a{
        color: azure;
        font-size: $fuente5;
       
    }
    a:hover{
        color: rgb(7, 1, 1);
    }
    a{
        background-image: linear-gradient(90deg,rgb(167, 167, 234),rgb(16, 16, 17));
        background-repeat: no-repeat;
        background-size: 0% 2px;
        background-position: left bottom;
        transition: background-size 700ms ease-in-out;
    }
    a:hover{
        background-size: 100% 2px;
    }
}


/* empieza el footer */
footer{
    background-color: rgb(45, 44, 44);
    padding: $padding;
    position: absolute;
    width: 100%;
    height: auto;

    svg{
        width: 30%;
        height: 30px;
        fill: azure;
        margin-right: 20px;
    }
}

.redes{
    display: flex;
    justify-content: end;
    padding: 8px;
}


.box-top{
    padding: 2px 0;
    text-align: $center;
    background-color: rgb(235, 11, 11);
    position: sticky;
    p{
        margin: 2px;
        font-size: $fuente6;
        font-style: $font2;
    }
}