//contacto//

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: $center;
    padding: 20px 30px;
    margin: auto;
    border-radius: 2px;

    th{
        color: $color-productos;
        text-decoration: $sub;
        font-weight: 800;
    }
    td{
        color: $color-blue;
        text-decoration: $sub;
        padding: 1px;
    }
}

.inframe-contacto{
    display: flex;
    flex-direction: column;
    justify-content: $center;
    align-items: $center;
    padding: 20px 30px;
    margin: 20px;

    iframe{
        border-style: unset 10px;
    } 
}

.contenedorx3{
    @include contenedor($fondo, $margin, $padding);
    color: black;
}