
@media (width < 768px){
    h1, h2, h3{
        text-align: $center;
    }
    .colecciones{
        width: 100%;
        flex-direction: column;
        align-items: $center;
    
        img{
            margin-bottom: 10px;
            width: 50%;
        }
    }
    .productos-inicio{
        flex-direction: column;
        justify-content: $center;
        align-items: $center;
        
        figure{
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
            }
        }
    }
    .redes{
        justify-content: space-between;
        align-items: $center;
    }
    /*termina la pagina de inicio */
    .productos{
        display: grid;
        grid-template-columns: (1fr);
        grid-template-rows: auto;
        justify-content: $center;
        align-items: $center;  
        padding: $padding;
        margin-bottom: 20px;
        text-decoration-style: wavy;
        grid-template-areas:
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "producto7"
        "producto8"
        "producto9" ;

        figure{
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: $center;
            justify-content: $center;
            img{
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    } 
      /*termina la pagina de producto  */
    img{
        width: 50%;
        align-items: $center;
    }
    .img-mayorista{
        background-size: cover;
        height: 75%;
    }
    .img2{
        height: 60%;
    }
    .mayorista{
        flex-direction: column;
        align-items: $center;
    }
    .mayorista2{
        flex-direction: column;
        align-items: $center;
    }
    iframe{
        padding: 40px 130px ;
        align-items: center;
    }
}
.gif{
    justify-content: $center;
    align-items: $center;
    padding: 1px;
    margin: 2px;
}