
$font1: 'Roboto', sans-serif;
$font2: 'italic', sans-serif;

$bakcground:rgb(39, 52, 78);
$fondo:rgb(155, 155, 159);

$center: center;
$left: left;
$right: rigth;

$fuente1: 2em;
$fuente2: 1.8em;
$fuente3: 1.2em;
$fuente4: 1em;
$fuente5: 1.6em;
$fuente6: 0.8em;

$weight: 800;


$sub: underline;

$color-black: rgb(20, 18, 18);
$color-blue: rgb(63, 58, 133);
$color-text: rgb(19, 1, 46);
$color-productos:rgb(1, 1, 39);
$color-hover:rgb(38, 24, 235);

$padding: 10px 20px;
$margin: 20px 10px;


//mixin//
@mixin contenedor($fondo, $margin, $padding, $color-black,){
    background-color: $fondo;
    margin: $margin;
    padding: $padding;
    $color-black: rgb(20, 18, 18);
}