//mayorista y nosotros//

.mayorista{
    display: flex;
    flex-direction: row;
    justify-content: $center;
    align-items: $center;
    padding: 20px 30px;

    p{
        padding: $padding;
        font-size: $fuente4;
    }
    p::first-letter{
        font-weight: $weight;
    }
    img{
        border-style: double;
        width: 50%;
        height: auto;
    }
}

.mayorista2{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 30px;

    p::first-letter{
        font-weight: $weight;
    }
    p{
        padding: 50px 20px;
        font-size: $fuente4;
    }
    img{
        border-style: double;
        width: 50%;
        height: auto;
    }
}
.img-mayorista{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: $center;
    margin-bottom: 10px;
    padding: 0.1px 10px;
    background-size: 100% 100%;
}

.contenedorx2{
    @include contenedor($fondo, $margin, $padding, $color-black);
    background-color: aliceblue;
}